.index-prprogress {
    height:100px;
}

.bid {
    padding-left: 15px;
    padding-right: 15px;
    width: 33%;
    display: inline-block;
}

.widget-user-header .plugin {
    display: none;
}

@keyframes fade-in {  
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}  
@-webkit-keyframes fade-in {
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}  

.widget-user-header:hover .plugin{
    display: inline-table;
    float: right;
    animation: fade-in;
    animation-duration: 0.25s;
    -webkit-animation:fade-in 0.25s;
}

.btn-circle {
    /* border-radius: 50%; */
    background-clip: padding-box;
    border: none;
    width: 36px!important;
    height: 36px;
    text-align: center;
    padding: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
}

.btn-danger-alt {
    background: none;
    border: 1px solid #f77b6b;
    color: #f77b6b;
}

.btn-danger-alt:hover {
    border-color: #f77b6b;
    background: #f77b6b;
    color: #fff;
}

.btn-info-alt {
    background: none;
    border: 1px solid #58bbee;
    color: #58bbee;
}

.btn-info-alt:hover {
    border-color: #58bbee;
    background: #58bbee;
    color: #fff;
}

.btn-success-alt {
    background: none;
    border: 1px solid #75c181;
    color: #75c181;
}

.btn-success-alt:hover {
    border-color: #75c181;
    background: #75c181;
    color: #fff;
}

.pb {
    padding-bottom: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px!important;
}

#setting_panel {
	position: fixed;
	top: 67px;
	right: -226px;
	width: 226px;
	background: #2a2a2a;
	padding: 10px;
	z-index: 9999;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
	    -ms-transition: all .3s ease-in-out;
	     -o-transition: all .3s ease-in-out;
	        transition: all .3s ease-in-out;
	color:#FFFFFF;
}
#setting_panel .title {
	text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 2em;
}
#setting_panel hr {
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #000;
}
#setting_panel.settings-show {
	right: 0;
	-moz-border-radius: 1%;
    -webkit-border-radius: 1%;
    border-radius: 1%;
}
#setting_panel_toggle {
	position: absolute;
	top: 0;
	right: 99%;
}
#setting_panel_toggle i {
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #2a2a2a;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	color: #e0e0e0;
}
#setting_panel_toggle i:hover {
	color: #fff;
}

.cb {
    left: 20px;
}        

#revise {
    float: right;
}

.setind {
    width: 260px!important;
}

select {
    color: #000000!important;
}